[user]
	email = gt43@st-andrews.ac.uk
	name = Gordon Thomson
[core]
	repositoryformatversion = 0
	filemode = false
	bare = false
	logallrefupdates = true
	symlinks = false
	ignorecase = true
    hideDotFiles = dotGitOnly
    editor = vim
	autocrlf = false
[alias]
    st = status
    br = branch --color
    ca = commit -a
    cm = commit -m
    co = checkout
    cv = commit -v
    standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since='7 days ago' --author='Gordon Thomson'
    lg = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(blue)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    fo = fetch origin
[color]
	ui = true
    status = true
    diff = true
    branch = true
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
